.card--container {
  width: 100%;
  background-repeat: no-repeat;
  background-position: right 1rem top -0.5rem;
  background-size: 3.8rem 3.8rem;
  padding-top: 2.4rem;
  border-radius: 1rem;
  margin-bottom: 1.5rem;

  .card--details {
    background-color: hsl(235, 46%, 20%);
    color: white;
    border-radius: 0.875rem; //14px/16px = 0.875rem
    padding: 1rem 2rem;
    cursor: pointer;

    .card-details--head {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.5rem;
    }
    .stats--container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .current {
        font-size: 3rem;
        font-weight: 200;
        text-align: center;
      }

      .previous {
        text-align: center;
        color: hsl(236, 100%, 87%);
      }
    }
  }
}

.card--details:hover {
  background-color: rgb(56, 62, 148);
  color: hsl(0, 0%, 100%);
}

@media (min-width: 700px) {
  .card--container {
    min-width: 13.375rem;
  }
  .stats--container {
    flex-direction: column;
    .current {
      align-self: flex-start;
    }
    .previous {
      align-self: flex-start;
      margin-bottom: 1rem;
    }
  }
}
