
.profile--container{
  width:100%;
  display:grid;
  background-color: hsl(235, 46%, 20%);
  border-radius: .875rem;  //14px/16px = 0.875rem
  margin-bottom:2rem;

  @media (min-width:700px){
    max-width:15rem;
  }

  .profile--details{
    display: flex;
    align-items: center;
    background-color: hsl(246, 80%, 60%);
    padding:2rem 2rem;
    border-radius: .875rem;  //14px/16px = 0.875rem

    .image--container{
      width:4.6875rem; //75px/16px
      height:4.6875rem;
      border-radius: 50%;
      border:.2rem solid white;
      margin-left: 1rem;

      img{
        width:100%;
      }   
    }

    .profile-name--container{
      margin-left:1rem;

      span{
        color: hsl(236, 100%, 87%);
      }

      .profile--name{
        color:hsl(0,0%,100%);
        font-size: 2rem;
        font-weight: 100;
      }
    }
  }

  .btn-container{
    display: flex;
    justify-content: space-between;
    padding:2rem;

    button{
      border: none;
      cursor: pointer;
      background-color: transparent;
      color: hsl(236, 100%, 87%);
      align-self: flex-start;
      font-size: 1rem;
    }

    button:hover{
            color:hsl(0,0%,100%);
          } 
  }
}

@media(min-width:700px){


  .profile--details{
    flex-direction: column;

    .image--container{
      align-self:flex-start;
    }

    .profile-name--container{
      padding:1rem 0 0 0;
    }
  }

  .btn-container{
    flex-direction: column;

    button{
      margin-bottom:1rem;
    }
  }
}


